* {
  box-sizing: border-box;
}

#maincontainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(107, 72, 110);
  border: 1px solid black;
  border-radius: 8px;
  height: 55%;
  width: 24%;
}

.resultcontent {
  display: inline-grid;
  grid-template-columns: 210px 60px;
  grid-column-gap: 10px;
  justify-content: center;
  height: 20%;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
}

#inputbox {
  background-color: peachpuff;
  color: black;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 10px;
}

#clearbutton {
  font-size: 16px;
  font-style: oblique;
  cursor: pointer;
  background-color: rgb(204, 243, 243);
  border: none;
  outline: none;
  border-radius: 8px;
}

#clearbutton:active {
  background-color: rgb(12, 12, 56);
  color: white;
}

/* button section */

.button_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-items: center;
  padding: 10px;
}

.button {
  height: 60px;
  width: 60px;
  background-color: whitesmoke;
  text-align: center;
  border: 1px none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: lightblue;
  color: white;
  transition-duration: 0.4s;
  transform: translateY(4px);
}

.button:active {
  background-color: rgb(12, 12, 56);
  color: white;
}
